<section class="container">
  <h1>Products component</h1>

  <div class="my-grid">
    @for (product of products; track $index) {
      <app-product
        [product]="products[$index]"
        (onselected)="onSelectedProduct($event)">
      </app-product>
    }
  </div>

  <button
    type="button"
    [disabled]="status === 'loading' || status === 'error' || status === 'no-more-products'"
    (click)="getPaginatedProducts()">
    @switch (status) {
      @case ('success') {
        <span>Cargar más</span>
      }
      @case ('loading') {
        <span>Cargando...</span>
      }
      @case ('error') {
        <span>Ocurrió un error</span>
      }
      @case ('no-more-products') {
        <span>No existen más productos</span>
      }
    }
  </button>
</section>
